body,
html {
  height: 100%;
  margin: 0;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-items: center;
}

.justify-content-center {
  justify-content: center;
}

.gap-sm {
  gap: 8px;
}
